input#message {
    background:#fff;
    border:none;
    outline:none;
    box-shadow:none;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em .7em;
}

#details-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

#details-container p {
    background:#fff;
    padding:1.4em;
    color:#696969;
    margin: 12px;
    width:auto;
    min-width:200px;
}

img {
    display:block;
    margin-bottom:12px;
}
span{
    cursor: pointer;
    position:relative;
    float:right;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    background-color:#008FEF;
    }


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 318px;
    align:baseline;
    border-radius: 10px;
   
    text-align: center;
	margin-top: 50px;
    margin-left: 50px;
	background-color: gray;
	float:left;
	
}


.options{
	margin-top:300px;
	position:relative;
}

#b1{
	
	background-size:60px 60px;
	height: 60px;
	width: 60px;
	
}


.carousel-inner{
	background-size: cover;

}






